<section class="about" id="about">
  <div class="about-marquee">
    <app-marquee text="about"></app-marquee>
  </div>

  <app-cursor-interactive-slide *ngIf="isMouseEvent" [imgSrc]="image"></app-cursor-interactive-slide>

  <img loading="lazy" class="image-slider" data-image-height="640" id="test" src="/men.jpg" data-image-src="/men.jpg" alt="">
  <img loading="lazy" class="image-slider" data-image-height="320" id="woman" src="/woman.jpg" data-image-src="/woman.jpg" alt="">

  <p>
    At Ballence, we believe that fashion is <br>
    more than just clothing—it's a lifestyle. <br>
    We are a premier online destination for <br>
    high fashion, offering an exclusive selection <br>
    of luxury pieces from the world’s most <br>
    renowned brands.
  </p>

  <br>

  <p>
    We curate every collection with the utmost <br>
    attention to detail, ensuring that our customers <br>
    have access to only the finest garments and <br>
    accessories. From bold statement pieces to <br>
    refined essentials, Ballence caters to those <br>
    who appreciate craftsmanship, quality, and <br>
    style.
  </p>
</section>