<section class="about" id="about">
  <div class="about-marquee">
    <app-marquee text="about"></app-marquee>
  </div>

  <app-cursor-interactive-slide *ngIf="isMouseEvent" [imgSrc]="image"></app-cursor-interactive-slide>

  <img id="test" src="/men.jpg" alt="">
  <img id="woman" src="/woman.jpg" alt="">

  <p>
    skskalkslklaslsajsijsiajiawjsjajw <br>
    swjaoiwsjawoijsoiajwsjjawjsjas <br>
    awjsoiwjsajjwsajwsasoiajsjaoi
  </p>

  <br>

  <p>
    skskalkslklaslsajsijsiajiawjsjajw <br>
    swjaoiwsjawoijsoiajwsjjawjsjas <br>
    awjsoiwjsajjwsajwsasoiajsjaoi
  </p>
</section>