.about{
    background-color: var(--color-blue);
    height: 60.365vw;
}
.about p{
    color: var(--color-green);
}
.about p:first-of-type{
    margin-top: 7.292vw;
}

.about-marquee{
    margin-top: 13.854vw;
}