.item {
  display: inline-block;
}

.product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.item picture {
  display: block;

  aspect-ratio: 466 / 845;
  height: 80vh;
  width: 24.271vw;
  min-width: 15.625vw;


}
.item .info {
  padding-inline: 2.656vw;
}

.item .name {
  display: inline;
  float: left;
  font-size: 1em;
}

.item .price {
  display: inline;
  float: right;

  font-size: 1em;
}

@media screen and (max-width: 500px) {
  .item picture {
    display: block;
  
    aspect-ratio: 233 / 445;  
    width: 100vw;

    overflow: hidden;
    
  }

  .info{
    display: flex;
    justify-content: space-around;
  }

  .item .name,
  .item .price{
    display: initial;
    font-size: 3.488vw;
  }

  .item .name{
    white-space: nowrap;
  }
}