.hero{
  width: 100vw;
  height: 34.896vw;
}

.hero img{
  width: 200%;
  height: 200%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, -0%);

  pointer-events: none;
  filter: blur(5px);
}

@media screen and (max-width: 500px){
  
  .hero{
    height: 58.5vw;
  }

  .hero img{
    height: 100%;
    width: 100%;
  }
  
}