<section class="news" id="news" #news>
  <h2 class="title blue">News</h2>

  <ng-container *ngIf="!Products">
    <swiper-container loop="true">
        <swiper-slide class="item" *ngFor="let item of fakeArray">
          <app-card src="/jacketFake.png" alt="card not found" price="000000" name="xxxxx"></app-card>
        </swiper-slide>
    </swiper-container>
  </ng-container>

  <div class="wrapper" *ngFor="let item of Products">
    <app-card src={{item.photo[1]}} alt={{item.photo[0]}} price={{item.price}} name={{item.name}}></app-card>
  </div>
</section>