.news {
  // width: auto;
  padding-bottom: 33px;
  // height: 60.365vw;

  background-color: var(--color-green);
}

// .news .wrapper {
//   display: flex;
//   white-space: nowrap;
//   overflow: hidden;

//   cursor: grab;
// }

// .news .wrapper:active {
//   cursor: grabbing;
// }

.fakeCards{
  display: flex;
}


