.card{
  width: 44.01vw;
  background-color: var(--color-green);

  padding: 1vw 2.135vw 4vw 1vw;
}

h2{
  // text-align: center;
  
}

.priceAndDescription{
  padding-top: 1.406vw;
  display: flex;
  justify-content: space-between;
}

