<section class="hero" id="hero">
    <img loading="lazy" src="/heroBackground.jpg" alt="hero background">
   <div class="hero-container">

    <div class="hero-card">
        <h3>
            <span class="hero-card-h3-span">become <br></span>
            <span class="hero-card-h3-span">the future</span>
        </h3>
        <p>
            Ballence offers the finest in high <br>
            fashion, featuring luxury brands <br>
            that embody sophistication.
        </p>
        <app-button></app-button>
    </div>

    <div class="hero-marquee">
        <div class="marquee">
            <app-marquee text="ballence"></app-marquee>
        </div>
    </div>
    
   
   </div>
</section>
