.hero{
    position: relative;
    
    // width: 100vw;
    padding-top: 0;
    height: 72vw;
    background-color: var(--color-green);
    
}

.container{
    background-color: transparent;
}

.hero img {
    position: absolute;
    

    width: 20%;
    height: 20%;

    object-fit: cover;
}

.hero-card{
    transform: translateY(100%);
    padding: 2.604vw 0 0 3.073vw;
    background-color: var(--color-green);
    width: 28.854vw;
    height: 26.615vw;

    position: absolute;
    bottom: 2.5vw;
}
.hero-card p{
    margin-top: 2.396vw;
    color: var(--color-blue);
}

.hero-marquee{
    overflow: hidden;
    margin-top: 11.875vw;
}

.hero-marquee .marquee{
    transform: translateY(100%);
}