<section class="hero" id="hero">
    <img src="/heroBackground.jpg" alt="hero background">
   <div class="hero-container">

    <div class="hero-card">
        <h3>
            become <br>
            the future
        </h3>
        <p>
            skskalkslklaslsajsijsiajiawjsjajw <br>
            swjaoiwsjawoijsoiajwsjjawjsjas <br>
            awjsoiwjsajjwsajwsasoiajsjaoi
        </p>
        <app-button></app-button>
    </div>

    <div class="hero-marquee">
        <div class="marquee">
            <app-marquee text="ballence"></app-marquee>
        </div>
    </div>
    
   
   </div>
</section>
