.sidebar {
  width: 23.385vw;
  height: 100%;
  background-color: var(--color-blue);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  transform: translateX(-100%);
}

.sidebar_button{
  cursor: pointer;
  position: absolute;
  right: 0;
}

.sidebar nav {
  padding-inline: 0;
}

.filters{
  cursor: pointer;
  position: fixed;
  top: 0;
  z-index: 999;
}

.filters,
.sidebar nav h4 {
  padding-inline: var(--container-padding);
  padding-top: 2.396vw;
  font-weight: 900;
  -webkit-text-stroke: 0.1vw;
  letter-spacing: 0.2vw;
}


.sizes h4,
.brands h4 {
  font-weight: 900;
  -webkit-text-stroke: 0.1vw;
  letter-spacing: 0.2vw;
  cursor: pointer;
}

.brands ul li img {
  object-fit: cover;
}

.sizes ul li,
.brands ul li {
  padding-inline: var(--container-padding);
  cursor: pointer;
  display: flex;
  gap: 1.823vw;
  align-items: center;
  color: var(--color-green);
  height: 2.656vw;

}

.brands{
  padding-top: 5vw;
}

.sizes ul,
.brands ul {
  padding-top:.719vw;

}

.sizes ul li:hover,
.brands ul li:hover {
  background-color: var(--color-dark-blue);
}

.line{
  width: 0vw;
  height: 0.05vw;
  background-color: var(--color-green);
  margin-top: 2.292vw;
}