<h4 class="blue filters" #filters (click)="toggleFilter()">filters</h4>
<aside class="sidebar" #aside>
  <nav>
    <div class="brands">
      <h4 class="green">brands</h4>
      <ul>
        <li>
          <img src="/gucciLogo.png" alt="">
          gucci
        </li>
        <li>
          <img src="/D&G_Logo.png" alt="">
          Docce & gabbana
        </li>
        <li>
          <img src="/PradaLogo.png" alt="">
          Prada
        </li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="sizes">
      <h4 class="green">sizes</h4>
      <ul>
        <li>
          xxs
        </li>
        <li>
          xs
        </li>
        <li>
          s
        </li>
        <li>
          m
        </li>
        <li>
          l
        </li>
        <li>
          xl
        </li>
        <li>
          xxl
        </li>
      </ul>
    </div>
  </nav>
</aside>