.cursor-follower{
  position: fixed;
  top: 0;
  left: 0;

  aspect-ratio: 322 / 483;
  width: calc(24.57vw * 0.8);

  background-color: white;

  transform: translate(-50%, -50%);
  pointer-events: none;

  z-index: 998;
}

.cursor-follower.visible {
  opacity: 1;
}

.cursor-follower.hidden {
  opacity: 0;

  z-index: 99;
  pointer-events: none;
}

.image{
  width: calc(24.57vw * 0.8);
  aspect-ratio: 322 / 483;
  object-fit: contain;
  
  pointer-events: inherit;
}
