.nav{
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 10.104vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    
    list-style: none;
    display: flex;
    align-items: center;
   gap: 2.5vw;

}
.nav-menu .line{
    width: 0.1vw;
    height: 3.542vw;
    background-color: var(--color-green);
}

.nav-menu li{
    position: relative;
    cursor: pointer;
    color: var(--color-green);

    transition: all .5s;

}

.nav-menu li::before{
    content: '';
    width: 0%;
    height: 0.08vw;
    background-color: var(--color-green);

    position: absolute;
    left: 0;
    bottom: 0;

    transition: width 0.1s ease-in;
}

.nav-menu li:hover::before{
    width: 100%;
}

.nav-logo{
    cursor: pointer;
    
    font-size: 3.333vw;
    color: var(--color-green);
    -webkit-text-stroke: 0.1vw;

    transition: all .5s;
}
