<section class="products">
  <div class="container">
    <app-sidebar></app-sidebar>

    <div class="products-section jackets">
      <h2 class="blue">jackets</h2>
      <app-loading *ngIf="(Jackets$ | async)?.length === 0"></app-loading>
      <div class="wrapper">
        <div class="item" *ngFor="let item of (Jackets$ | async)">
          <app-card (click)="getChoice(item.id)" src={{item.photo[1]}} alt={{item.photo[0]}} price={{item.price}} name={{item.name}}></app-card>
        </div>
      </div>
    </div>

    <div class="products-section bags">
      <h2 class="blue">bags</h2>
      <app-loading *ngIf="(Bags$ | async)?.length === 0"></app-loading>
      <div class="wrapper">
        <div class="item" *ngFor="let item of (Bags$ | async)">
          <app-card src={{item.photo[1]}} alt={{item.photo[0]}} price={{item.price}} name={{item.name}}></app-card>
        </div>
      </div>
    </div>

  </div>
</section>