.products{
  background-color: var(--color-green);
  width: 100vw;

  padding-top: 0;
  padding-bottom: 3vw;
}


.products-section {
  padding-top: 2.396vw;
}

.products-section  h2{
  text-align: center;
}
