.footer{
    overflow: hidden;
    background-color: var(--color-blue);
    // height: 46.302vw;
    padding-bottom: 1vw;
}

.footer h1{
    overflow: hidden;
    text-align: center;

    margin-top: 9.063vw;
}

.footer h1 span{
    display: block;
    transform: translateY(100%);
}

.navigation{
    
    list-style: none;

    color: var(--color-green);

    display: flex;
    flex-direction: column;
    gap: 0.833vw;
}

.navigation h3{
    color: var(--color-green);
}

.navigation a,
.navigation li{
    color: var(--color-green);
    cursor: pointer;
}

.navigation .links{
    transform: translateY(400%);
}

.navigation .links::before {
    content: '';
    width: 0%;
    height: 0.08vw;
    background-color: var(--color-green);
  
    position: absolute;
    left: 0;
    bottom: 0;
  
    transition: width 0.1s var(--animation-ease);
  }
  
  .navigation .links:hover::before {
    width: 9%;
}

.footer-navigations{
    height: 20.104vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.75vw;
}

.line{
    width: 100%;
    height: 0.1vw;
    background-color: var(--color-green);
}

.footer-informations{
    padding-left: 38.323vw;
    margin: 4.01vw 0 4.01vw 0;
}

.footer-informations h4{
  
    color: var(--color-green);
}